@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500;1,600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

@layer base {
  @font-face {
    font-family: "QueensidesMedium";
    src: url("/Fonts/QueensidesMedium.woff2") format("woff2");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }
}
.header__blur {
  background: hsla(0, 0%, 100%, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(3px);
}
.gradient___text___color {
  background: linear-gradient(30deg, #0057ff, #ec008c, #0057ff) 0 0 /400% 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: move-bg 15s linear infinite;
}
.div__height {
  height: calc(100vh - 3rem);
}
.main___background___gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: radial-gradient(
      circle at 85% 33%,
      rgba(0, 255, 235, 0.085),
      hsla(0, 0%, 100%, 0) 25%
    ),
    radial-gradient(
      circle at 12% 55%,
      rgba(108, 99, 255, 0.1),
      hsla(0, 0%, 100%, 0) 25%
    );
}
.hover__button:hover {
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0 0 7px #0057ff29;
}
.hover__button__Black:hover {
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0 0 7px #00000029;
}
@keyframes move-bg {
  100% {
    background-position: 400% 0;
  }
}
.hide__scrollbar::-webkit-scrollbar {
  display: none;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 217.2 32.6% 17.5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
